.image-slider-container {
  margin: 0 auto;
  width: 600px;
  vertical-align: top;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: black;
}

.slide {
  /* outline: 1px solid blue; */
  margin: auto;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 575px;
}

img {
  border-radius: 0.625rem;
  margin: auto;
  width: 25rem;
  align-self: center !important;
}

.slide-counter {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  width: 100%;
}

.download-button {
  height: 30px;
  font-size: 12px;
}

@media (max-width: 480px) {
  .image-slider-container {
    width: 350px;
  }

  .slide {
    height: 500px;
  }

  img {
    width: 350px;
  }

  .text {
    width: 350px;
  }
}
